/app/config/parameters.yml
/build/
/.project
/.settings
/.buildpath
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/web/assets/
/web/css/compiled
/web/js/compiled
/web/uploads
/web/media/cache

# Dane wrażliwe i pliki tymczasowe
/dump.sql
/log
/tmp/
/_NEWvar/
/composer.phar
/stara/
/adawards/
/.DS_Store
