<div id="breadcrumbs">
<div class="wrap">
<ol itemscope itemtype="https://schema.org/BreadcrumbList">
{% for breadcrumb_item in path %}
    {% if loop.first %}
    {% else %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ breadcrumb_item.uri }}"><span itemprop="name">{{ breadcrumb_item.label }}</span></a>
        <meta itemprop="position" content="{{ loop.index }}" />
    </li>
    {% endif %}
{% endfor %}
</ol>
</div>
</div>